<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>447078620092-f8i8gh58unkbkge7nubam6qbnbd2okqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447078620092-f8i8gh58unkbkge7nubam6qbnbd2okqs</string>
	<key>API_KEY</key>
	<string>AIzaSyANIsQFJs0pG0c2qVmAgbsFF-HP-2tB-eg</string>
	<key>GCM_SENDER_ID</key>
	<string>447078620092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.lundy.Keys</string>
	<key>PROJECT_ID</key>
	<string>keys-ac897</string>
	<key>STORAGE_BUCKET</key>
	<string>keys-ac897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447078620092:ios:2d7a75d8722878dd</string>
	<key>DATABASE_URL</key>
	<string>https://keys-ac897.firebaseio.com</string>
</dict>
</plist>